{% extends "base.html" %} {% block content %}
<div class="card mt-5" style="width: 18rem">
    <img src="{{ event.eventImage.url }}" class="card-img-top" alt="..." />
    <div class="card-body">
        <h5 class="card-title">{{ event.title }}</h5>
        <p class="card-text">{{ event.description }}</p>
        <p class="card-text">{{ event.nbrParticipants }}</p>
        <a href="{% url 'events_listC' %}" class="btn btn-dark">Go back</a>
        <a href="{% url 'events_participate' event.id %}" class="btn btn-dark">Je Participe</a>
        <a href="{% url 'events_UpdateC' event.id %}" class="btn btn-dark">Update</a>
        <a href="{% url 'events_DeleteC' event.id %}" class="btn btn-dark">Delete</a>
        <a href="{% url 'cancel_Participate'  event.id %}" class="btn btn-bg-danger">Cancel</a>

    </div>
</div>
{% endblock content %}
